/*Start Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*End Font*/

/*Start Body*/
body {
    color: #24292e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/*End Body*/

/*Start Debug*/
.bg-blue {
    background-color: blue;
}

.bg-red{
    background-color: red;
}
/*End Debug*/

/*Start Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/*End Container*/

/*Start Logo*/
.logo img {
    float: left;
    width: 170px;
    height: 170px;
    background: #ffffff;
}

.logo h1  {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.logo p  {
    position: initial;
    top: 18px;
    left: 10px;
    text-align: justify;
}

/*End Logo*/

/*Start Menu Primer*/
.menu-primer ul{
    background-color: #ecb49e;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid rgba(168, 132, 64, 0.6);
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: #2e1f1a;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #9e786d(100, 88, 57, 0.6);
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color: beige;
    color: black;
    text-decoration: none;
}
/*End Menu Primer*/

/*Start Anchor / Hyperlink */
a:link,
a:visited {
    color: 0366d6;
    text-decoration: none;
}
a:hover, 
a:active {
    color: black;
    text-decoration: underline;
}
/*End Anchor / Hyperlink */

/*Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
    font-weight: bold;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/*End Heading*/

/*Start Jumbotron*/
.jumbotron {
    background:url(../images/foto-gedung.jpg);
    background-color: #cccccc;
    background-size: auto;
    background-blend-mode: inherit;
    background-repeat: no-repeat;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 35px 0;
}

.jumbotron h1 {
    font-size: 50px;
    padding: 0 20px;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 .jumbotron h3 {
     font-size: 2px;
     padding: 0 20px;
 }
/*End Jumbotron*/

/*Start Main*/
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi{
    height: 270px;
}

/*End Main*/

/*Start Box*/
.box-heading {
    background-color: #f6f8fa;
    border: 1px solid #d2d5da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4{
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #ffffff;
    border: 1px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/*End Box*/

/*Start Testimonial*/
.testimonial{
    border-left: 4px solid #ddffee
}
/*End Testimonial*/

/*Start Menu Sekunder*/
.menu-sekunder {
    background-color: #f6f8fa;
    border-bottom: 1px solid#eaecef;
    border-top: 1px solid#eaecef;
    overflow: auto;
    padding: 10px 0;
}

.menu-sekunder h4{
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}

.menu-sekunder ul{
    padding: 0;
}

.menu-sekunder li{
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three{
    float: left;
}
.menu-sekunder-one{
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three{
    width: 30%;
}
.menu-sekunder li img{
    vertical-align: middle;
}
/*End Menu Sekunder*/

/*Start Copyright*/
.copyright p{
    font-size: 15px;
}
/*End Copyright*/
